body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(231, 231, 231);

}

h1 {
  font-size: 2em;
}

.container {
  max-width: 900px;
  margin: 3em auto 0;
  background-color: #fff;
  padding: 1em;
}

.note {
  background-color: #f3f3f3;
  padding: .1em 1em;
  margin-bottom: 1em;
  transition: 1s;
  border-radius: 2px;
}

.action-links {
  list-style: none;
  padding: 0;
}

.action-links li {
  display: inline;
  margin-right: .3em;
}

.action-links a {
  color: #6f6f6f;
}

.action-links a:hover {
  color: #000;
}

.action-links a[data-action="delete"]:hover {
  color: #e00;
}

.empty-message {
  color: #888;
}

.error-message {
  color: #b88;
}

label {
  font-size: 1.2em;
}

input,
textarea {
  display: block;
  width: 98%;
  border: 1px solid #ababab;
  font-size: 1.2em;
  padding: .3em;
  margin: 1em 0;
  border-radius: 2px;
}

button {
  font-size: 1.1em;
  background-color: #fff;
  border: none;
  padding: .5em;
  transition: .3s;
  border-radius: 2px;
  min-width: 5em;
  margin-right: .5em;
  margin-bottom: 1em;
}

button:hover {
  background-color: #f3f3f3;
}

button.button-main {
  background-color: #0a85de;
  color: #fff;
}

button.button-main:hover {
  background-color: #0099ff;
}
